.chart-toggle {
    display: block;
    cursor: pointer;
    width: 3em;
    height: calc(100% - 7em);
    margin-top: 1em;
    float: left;
    background: $color__borders;
    box-sizing: border-box;
    border-left: 1px solid darken($color__header, 6%);
    border-right: 1px solid darken($color__header, 6%);
}