.chart {
    background: $color__header;
    height: calc(100% - 5em);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: calc(100% - 5em);
    border-top: 1em solid $color__borders;
    border-bottom: 1em solid $color__borders;
    border-right: 1em solid $color__borders;
    &__text {
        transition: .3s ease-out;
        font-size: 1em;
        font-family: $font-family;
        fill: white;
        display: none;
        &--hover {
            display: block;
        }
    }
    &__arrow {
        fill: #999;
        fill-opacity: .3s;
        transition: fill-opacity .3s ease-out, opacity .3 ease-out;
        &--hover {
            fill-opacity: 1;
            fill: greenyellow;
        }
    }
}

.node {
    stroke: #fff;
    fill: #ddd;
    stroke-width: 1.5px;
    &:hover {
        fill: greenyellow;
    }
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 2px;
    transition: .3s ease-out;
    &:hover {
        stroke: greenyellow;
        stroke-opacity: 1;
        stroke-width: 2px;
    }
}

marker {
    stroke: #999;
    fill: rgba(124, 240, 10, 0);
}