.chart {
    background: $color__dark;
    height: calc(100% - 4.5em);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 1em solid $color__borders;
    border-bottom: 1em solid $color__borders;
    border-right: 1em solid $color__borders;
    cursor: move;
    &__panzoom {
        height: 100%;
    }
    &__svg {
        overflow: visible !important;
    }
    &__svg-controls {
        position: absolute;
        top: 1em;
        right: 1em;
        button {
            @extend .button;
        }
    }
    &__text {
        transition: .3s ease-out;
        font-size: 1em;
        font-family: $font-family;
        fill: darken($color__green, 20%);
        display: none;
        transform-origin: center;
        text-shadow: 1px 1px 1px #000;
        &--hover {
            display: block;
        }
    }
    &__arrow {
        fill: $color__light;
        fill-opacity: .3s;
        transition: fill-opacity .3s ease-out, opacity .3 ease-out;
        &--hover {
            fill-opacity: 1;
            fill: $color__green;
        }
    }
    &__link {
        stroke: $color__light;
        stroke-opacity: .6;
        stroke-width: 2px;
        transition: .3s ease-out;
        &:hover,
        &--hover {
            stroke: $color__green;
            stroke-opacity: 1;
            stroke-width: 2px;
        }
    }
    &__node {
        fill: lighten($color__light, 30%);
        &:hover {
            fill: $color__green;
        }
    }
}