.dropzone {
    @extend .button;
    width: 25em;
    padding-left: 3em;
    &--active {
        @extend .dropzone;
        border: 1px dashed $color__green;
        color: $color__green;
    }
    &--error {
        @extend .dropzone;
        border: 1px dashed $color__red;
        color: $color__red;
    }
}