.dropzone {
  float: right;
  height: 4em;
  margin: .5em 2em;
  padding: .5em 2em;
  box-sizing: border-box;
  border: 1px dashed lighten($color__borders, 10%);
  color: white;
  // background: red;
}