.editor {
    padding: 1em 0;
    background: $color__borders;
    height: calc(100% - 5em);
    width: calc(100% - 3em);
    display: block;    
    box-sizing: border-box;
    float: left;
    &--with-chart {
        width: calc(50% - 5em);
    }
}