.page {
  background: lighten($color__dark, 2%);
  box-sizing: border-box;
  min-height: calc(100% - 4.5em);
  position: relative;
  overflow: hidden;
  padding: 2em;
  &__logo {
    max-height: 1.5em;
    vertical-align: text-bottom;
    position: relative;
    bottom: -3px;
  }
}