button {
    border: none;
    outline: none;
}

.button {
    background: $color__borders;
    border: 1px solid transparent;
    border-right: 1px solid darken($color__dark, 5%);
    padding: 0 1em;
    display: block;
    float: left;
    height: 2.8em;
    line-height: 2.8em;
    cursor: pointer;
    box-sizing: border-box;
    color: $color__light;
    transition: all .3s ease-out;
    &:hover {
        box-shadow: inset 0px -2px 0px 0px lighten($color__borders, 10%);
        color: lighten($color__light, 20%);
    }
    &:last-child {
        border-right-color: transparent;
    }
    [class^="ico-"],
    [class*=" ico-"] {
        font-size: em-calc(16px);
        margin-right: .25em;
    }
}