html,
body {
    position: relative;
    height: 100%;
}

body {
    background: $color__borders;
    font-size: em-calc(14);
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.document, #root {
    height: 100%;
    position: relative;
}