@font-face {
    font-family: 'Montserrat';
    src: url('/public/montserrat_regular.eot?#iefix') format('embedded-opentype'), url('/public/montserrat_regular.woff') format('woff'), url('/public/montserrat_regular.ttf') format('truetype'), url('/public/montserrat_regular.svg#montserratregular') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/public/montserrat_regular_italic.eot?#iefix') format('embedded-opentype'), url('/public/montserrat_regular_italic.woff') format('woff'), url('/public/montserrat_regular_italic.ttf') format('truetype'), url('/public/montserrat_regular_italic.svg#montserratregular_italic') format('svg');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/public/montserrat_bold.eot?#iefix') format('embedded-opentype'), url('/public/montserrat_bold.woff') format('woff'), url('/public/montserrat_bold.ttf') format('truetype'), url('/public/montserrat_bold.svg#montserratbold') format('svg');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/public/montserrat_bold_italic.eot?#iefix') format('embedded-opentype'), url('/public/montserrat_bold_italic.woff') format('woff'), url('/public/montserrat_bold_italic.ttf') format('truetype'), url('/public/montserrat_bold_italic.svg#montserratbold_italic') format('svg');
    font-style: italic;
    font-weight: bold;
}